<%- include('layout/header') %>
    <div class="container-fluid mt-3">
        <h1>Edit my Profile</h1>

        <% if (errors) { %>
            <% errors.split(',').forEach(err=> { %>
                <h6 style="color: red;">
                    <%= err %>
                </h6>
            <% }) %>
        <% } %>

        <div class="col-lg-4 mt-4">
            <form action="/home/<%= data.AccountId %>/edit" method="post">
                <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" name="firstName" value="<%= data.firstName %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastName" value="<%= data.lastName %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" name="dateOfBirth" value="<%= data.dateOfBirth %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" name="address" value="<%= data.address %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Bio</label>
                    <textarea class="form-control" name="bio" id="" cols="30" rows="10"><%= data.bio %></textarea>
                </div>           
                <button type="submit" class="btn btn-primary">Edit Profile</button>
                <a href="/home/<%= data.AccountId %>" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>

<%- include('layout/footer') %>