<%- include('layout/header') %>

<div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="mt-2">Hi!, <%= dataUserAndAccount.Account.username %></h1>
      </div>
      <div class="col text-center">
        <h1 class="mt-2">CUITTER</h1>
      </div>
      <div class="col text-end">
          <a href="/home/<%= dataUserAndAccount.Account.id %>/edit" class="btn btn-sm btn-primary mt-2">Profile</a>
          <a href="/logout" class="btn btn-sm btn-secondary mt-2">Logout</a>
      </div>
    </div>
  </div>

    <div class="container-fluid mt-2">
        <form action="/home/<%= dataUserAndAccount.Account.id %>" method="POST" style="text-align: center;">
            <div class="form-floating">
                <textarea name="content" class="form-control" placeholder="How's your day?" style="height: 100px; width: 50ox;" required></textarea>
                <label for="floatingTextarea2"><strong>Post a something!</strong></label>
              </div>
            <br>
            <button class="btn btn-lg btn-success" type="submit">Post it!</button>
        </form>

        <div>
            <br><br>
            <a class="btn btn-sm btn-secondary" href="/home/<%= dataUserAndAccount.Account.id %>?sort=ASC">ASC</a> <a class="btn btn-sm btn-secondary" href="/home/<%= dataUserAndAccount.Account.id %>?sort=DESC">DESC</a>
            <br><br>
            <% dataPosts?.forEach(el=> { %>

                <div class="card">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-body-secondary"><strong><%= el.Account.User.firstName %> <%= el.Account.User.lastName %></strong></h6>
                      <p class="card-text"><%= el.content %></p>
                      <p class="card-text">
                          <%= el.createdAt %> | by <%= el.Account.username %>
                      </p>
                     <% if ( dataUserAndAccount.Account.id === el.AccountId) { %>
                      <a class="btn btn-sm btn-secondary" href="/home/<%= dataUserAndAccount.Account.id %>/delete/<%= el.id %>">delete</a>
                    <% } %>
                    </div>
                  </div>
                  <br>
                <% }) %>
        </div>
    </div>

<%- include('layout/footer') %>